@using Filazor.Core.Data

@inject FileSystemService FSService

<style>
    /* Remove default bullets */
    ul {
        list-style-type: none;
    }

    /* Style the caret/arrow */
    .drive-caret {
        cursor: pointer;
        user-select: none; /* Prevent text selection */
    }

        /* Create the caret/arrow with a unicode, and style it */
        .drive-caret::before {
            content: "\276F";
            color: lightgray;
            display: inline-block;
            margin-right: 6px;
        }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .drive-caret-down::before {
        transform: rotate(90deg);
        color: dodgerblue;
    }

    /* Hide the nested list */
    .nested {
        display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
        display: block;
    }

</style>

<span class="drive-caret @caretDirection" @onclick="ExpandDrive">
    <span class="oi oi-hard-drive"></span>
    @RootInfo.VolumeLabel (@RootInfo.Name)
</span>
<ul class="nested @showChild">
    @foreach (var dirInfo in ChildDirInfos)
    {
        <li>
            <span class="oi oi-folder"></span>
            @dirInfo.Name
        </li>
    }
</ul>

@code {

    private string showChild;
    private string caretDirection;


    [Parameter]
    public System.IO.DriveInfo RootInfo { get; set; }

    [Parameter]
    public System.IO.DirectoryInfo[] ChildDirInfos { get; set; }


    private void ExpandDrive()
    {
        showChild = string.IsNullOrEmpty(showChild) ? "active" : "";
        caretDirection = string.IsNullOrEmpty(caretDirection) ? "drive-caret-down" : "";
    }
}
