@using Filazor.Core.Data

@inject FileSystemService FSService


@if (IsDrive == true)
{
    @if (childDirectoryDic.Count > 0)
    {
        <span class="caret @caretDirection" @onclick="ExpandNode">
            <small>@DriveVolumeLabel (@TargetRootDirectoryInfo.Name)</small>
        </span>

        @if (isExpanded)
        {
            <ul class="nested @showChild">
                @foreach (var dirInfo in childDirectoryDic)
                {
                    <li>
                        <FSTreeNode IsDrive=false TargetRootDirectoryInfo=@dirInfo.Value />
                    </li>
                }
            </ul>
        }
    }
    else
    {
        <small>@DriveVolumeLabel (@TargetRootDirectoryInfo.Name)</small>
    }
}
else
{
    @if (childDirectoryDic.Count > 0)
    {
        <span class="caret @caretDirection" @onclick="ExpandNode">
            <small>@TargetRootDirectoryInfo.Name</small>
        </span>

        @if (isExpanded)
        {
            <ul class="nested @showChild">
                @foreach (var dirInfo in childDirectoryDic)
                {
                    <li>
                        <FSTreeNode IsDrive=false TargetRootDirectoryInfo=@dirInfo.Value />
                    </li>
                }
            </ul>
        }
    }
    else
    {
        <small>@TargetRootDirectoryInfo.Name</small>
    }
}


@code {

    private string showChild;
    private string caretDirection;
    private bool isExpanded;

    private Dictionary<string, System.IO.DirectoryInfo> childDirectoryDic = new Dictionary<string, System.IO.DirectoryInfo>();

    [Parameter]
    public bool IsDrive { get; set; }

    [Parameter]
    public string DriveVolumeLabel { get; set; }

    [Parameter]
    public System.IO.DirectoryInfo TargetRootDirectoryInfo { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await GetChildDirectoryList();
    }


    private async Task GetChildDirectoryList()
    {
        try
        {
            var dirInfos = await FSService.GetDirectoryInfos(TargetRootDirectoryInfo.FullName);
            foreach (var dirInfo in dirInfos)
            {
                childDirectoryDic.Add(dirInfo.Name, dirInfo);
            }
        }
        catch (UnauthorizedAccessException)
        {

        }
    }

    private void ExpandNode()
    {
        caretDirection = string.IsNullOrEmpty(caretDirection) ? "caret-down" : "";
        showChild = string.IsNullOrEmpty(showChild) ? "active" : "";

        isExpanded = !isExpanded;
    }
}