@page "/main"

@using System.IO
@using Filazor.Core.Data
@using Filazor.Core.Pages.Controls 

@inject FileSystemService FSService


<style>

    /* Remove default bullets */
    ul, #FSTreeView {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Remove margins and padding from the parent ul */
    #FSTreeView {
        margin: 0;
        padding: 0;
    }

    li {
        cursor: pointer;
        /* Prevent text selection */
        user-select: none;          /* standard syntax */
        -webkit-user-select: none;  /* webkit (safari, chrome) browsers */
        -moz-user-select: none;     /* mozilla browsers */
        -khtml-user-select: none;   /* webkit (konqueror) browsers */
        -ms-user-select: none;      /* IE10+ */
    }

    li > span:hover {
        background-color: aliceblue;
        outline: 1px solid;
        outline-color: deepskyblue;
    }

    li > span {
        padding-left: 5px;
    }
    li li > span { 
        padding-left: 15px; 
    }
    li li li > span {
        padding-left: 35px;
    }
    li li li li > span {
        padding-left: 50px;
    }
    li li li li li > span {
        padding-left: 65px;
    }
    li li li li li li > span {
        padding-left: 80px;
    }
    li li li li li li li > span {
        padding-left: 95px;
    }
    li li li li li li li li > span {
        padding-left: 110px;
    }
    li li li li li li li li li > span {
        padding-left: 125px;
    }
    li li li li li li li li li li > span {
        padding-left: 140px;
    }
    li li li li li li li li li li li > span {
        padding-left: 155px;
    }
    li li li li li li li li li li li li > span {
        padding-left: 170px;
    }
    li li li li li li li li li li li li li > span {
        padding-left: 185px;
    }
    li li li li li li li li li li li li li li > span {
        padding-left: 200px;
    }
    li li li li li li li li li li li li li li li > span {
        padding-left: 215px;
    }
    li li li li li li li li li li li li li li li li > span {
        padding-left: 230px;
    }

    /* Style the caret/arrow */
    .caret {
        cursor: pointer;
        user-select: none; /* Prevent text selection */
    }

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
        content: "\276F";
        color: darkgray;
        display: inline-block;
        margin-right: 3px;
    }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
        transform: rotate(90deg);
        color: black;
    }

    /* Hide the nested list */
    .nested {
        display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
        display: block;
    }

    .item-selected {
        background-color: aliceblue;
    }

    .row {
        display: flex;
        align-items: center;
        border: 1px solid lightgrey;
    }

</style>

@if (string.IsNullOrEmpty(hostName))
{
    <p><em>Can not find host..</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col px-1">
                <p class="text-center mb-0 py-1" style="color: dimgray"><strong>File Explorer</strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col-2 px-1">
                <Navigator />
            </div>
            <div class="col-7 px-1">
                <AddressBar CurrentPath="@addressbarText" />
            </div>
            <div class="col-3 px-1">
                <SearchBox />
            </div>
        </div>

        <div class="row" style="height: 600px;">
            <div class="col-3 px-1 py-1" style="height: 100%; overflow: auto; border: 1px solid lightgrey;">
                <ul id="FSTreeView">
                    <li>
                        <span class="@selectedItem" style="display: block;" @onclick="SelectedHost" @ondblclick="ExpandHost" >
                            <span class="caret @caretDirection" @onclick="ExpandHost"/>
                            <i class="material-icons align-middle" style="font-size: 18px; color: dimgrey;">
                                desktop_windows
                            </i>
                            <small>@hostName</small>
                        </span>
                        @if (driveInfos != null)
                        {
                            <ul class="nested @isActive">
                            @foreach (var driveInfo in driveInfos)
                            {
                                <li>
                                    <FSTreeNode IsDrive=true 
                                                DriveVolumeLabel=@driveInfo.VolumeLabel
                                                TargetRootDirectoryInfo=@driveInfo.RootDirectory
                                                OnClickCallback="@OnClickNodeCallback"/>
                                </li>
                            }
                            </ul>
                        }
                    </li>
                </ul>
            </div>
            <div class="col-9 px-1 py-1" style="height: 100%; overflow: auto; border: 1px solid lightgrey;">
                @if (addressbarText == hostName)
                {
                    <DriveDetailView DriveInfos="@driveInfos" SelectedDirectoryCallback="SelectedDirectory" />
                }
                else
                {
                    <FileDetailViewTable TargetRootDirectoryInfo="@lastSelectedDirInfo" SelectedDirectoryCallback="SelectedDirectory" />
                }
            </div>
        </div>
    </div>
}


@code {
    private string hostName;
    private DriveInfo[] driveInfos;

    private string caretDirection;
    private string selectedItem;
    private string isActive;
    private string addressbarText;

    private FSTreeNode lastSelectedNode;
    private DirectoryInfo lastSelectedDirInfo;


    public string AddressbarText
    {
        get
        {
            return $"{hostName} > {lastSelectedDirInfo.FullName}";
        }
    }


    protected override async Task OnInitializedAsync()
    {
        hostName = await FSService.GetHostName();
        driveInfos = await FSService.GetDriveListAsync();

        // set default
        if (driveInfos != null && driveInfos.Length > 0)
        {
            ExpandHost();
        }
    }

    /// <summary>
    /// Host node click event
    /// </summary>
    private void SelectedHost()
    {
        if (lastSelectedNode != null)
        {
            lastSelectedNode.SetDefaultStyle();
            lastSelectedNode = null;
        }

        selectedItem = "item-selected";
        addressbarText = hostName;
    }

    /// <summary>
    /// Expand Host Event: Show all drives
    /// </summary>
    private async void ExpandHost()
    {
        driveInfos = await FSService.GetDriveListAsync();

        caretDirection = string.IsNullOrEmpty(caretDirection) ? "caret-down" : "";
        isActive = string.IsNullOrEmpty(isActive) ? "active" : "";
        selectedItem = "item-selected";
        addressbarText = hostName;

        await InvokeAsync(() => { this.StateHasChanged(); });
    }

    /// <summary>
    /// Child Node Click EventCallback
    /// </summary>
    /// <param name="args">Event Node</param>
    private void OnClickNodeCallback(FSTreeNode args)
    {
        if (lastSelectedNode == null)
        {
            selectedItem = null;
        }
        else
        {
            lastSelectedNode.SetDefaultStyle();
        }

        lastSelectedNode = args;
        lastSelectedDirInfo = args.TargetRootDirectoryInfo;
        addressbarText = AddressbarText;
    }

    /// <summary>
    /// Child Node Double Click EventCallback
    /// </summary>
    /// <param name="selectedDirInfo">Selected DirectoryInfo</param>
    private void SelectedDirectory(DirectoryInfo selectedDirInfo)
    {
        lastSelectedDirInfo = selectedDirInfo;
        addressbarText = AddressbarText;
    }
}

