@page "/main"

@using Filazor.Core.Data
 
@inject FileSystemService FSService


<style>
    /* Remove default bullets */
    ul, #FSTreeView {
        list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    #FSTreeView {
        margin: 0;
        padding: 0;
    }
</style>


@if (driveInfos == null)
{
    <p><em>Can not get Drive Info...</em></p>
}
else
{
    <ul id="FSTreeView">
        @foreach (var driveInfo in driveInfos)
        {
            <li>
                <Filazor.Core.Pages.Controls.DriveTreeNode RootInfo="@driveInfo" ChildDirInfos="@dirInfoDic[@driveInfo.Name]" />
            </li>
        }
    </ul>
}

@*<ul id="fileTree">
        <li>

            @foreach (var driveInfo in driveInfos)
            {
                <span class="caret @caretDirection" @onclick="ExpandDrive">@driveInfo.VolumeLabel (@driveInfo.Name)</span>
                <ul class="nested @show">
                    @foreach (var dirInfo in directoryInfos)
                    {
                        <li>@dirInfo.Name</li>
                    }
                </ul>
            }


            <span class="caret @caretDirection" @onclick="ExpandTree">Beverages</span>
            <ul class="nested @show">
            <li>Water</li>
            <li>Coffee</li>
            <li>
                <span class="caret">Tea</span>
                <ul class="nested">
                    <li>Black Tea</li>
                    <li>White Tea</li>
                    <li>
                        <span class="caret">Green Tea</span>
                        <ul class="nested">
                            <li>Sencha</li>
                            <li>Gyokuro</li>
                            <li>Matcha</li>
                            <li>Pi Lo Chun</li>
                        </ul>
                    </li>
                </ul>
            </li>
            </ul>
        </li>
    </ul>*@

@code {

    private System.IO.DriveInfo[] driveInfos;
    private Dictionary<string, System.IO.DirectoryInfo[]> dirInfoDic = new Dictionary<string, System.IO.DirectoryInfo[]>();

    protected override async Task OnInitializedAsync()
    {
        driveInfos = await FSService.GetDriveListAsync();

        foreach (var driveInfo in driveInfos)
        {
            var dirInfo = await FSService.GetDirectoryInfos(driveInfo.Name);
            if (dirInfo != null && dirInfo.Length > 0)
            {
                dirInfoDic.Add(driveInfo.Name, dirInfo);
            }
        }
    }

}

